@charset "UTF-8";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    
}
body{
    background-image: linear-gradient(to right, #DAF5D5, #bcf0c5);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 1.5%;
    box-shadow:5px 5px 20px #bbc4b0;

}
h1 {
    text-align: center;
    color: #94a581;
    text-shadow: 1px 1px 2px #8e9e89;
}